/* Global ----------------------------------------------------------------- Global */
body{
    background-color: rgb(66, 66, 66);
    color: rgb(245, 255, 255);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
#navbar{
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
}
#navbar-title a, #navbar-title a:link, #navbar-title a:visited, #navbar-title a:hover, #navbar-title a:active{
    text-decoration: none;
    color: rgb(245, 255, 255);
    font-size: 2.5rem;
}
#navbar-add-btn, #navbar-add-btn *{
    position: relative;
}
#navbar-add-btn img, #navbar-add-btn * img{
    height: 3rem;
    width: auto;
}
#navbar-add-btn:hover{
    cursor: pointer;
}
/* Main Page ----------------------------------------------------------- Main Page */
#library-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2%;
    row-gap: 2rem;
    margin: 4%;
    margin-top: 0;
    padding: 1%;
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
}
.book-preview{
    position: relative;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s;
}
.book-preview:hover{
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}
.book-preview-image{
    width: 100%;
    height: auto;
}
.book-preview-overlay{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 96%;
    height: 16%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    padding: 2%;
}
.book-preview-title{
    font-size: 1.5rem;
    padding: 1%;
    max-width: 98%;
    overflow-x: hidden;
    height: min-content;
    transition: background-color 0.5s;
    border-radius: 5px;
    color: rgb(245, 255, 255);
}
.book-preview:hover .book-preview-overlay .book-preview-title{
    max-width: none;
    overflow-x: visible;
    background-color: rgba(0, 0, 0, 0.3);
}
/* Book itself ------------------------------------------------------- Book itself */
#book-details{
    background-color: rgb(75, 75, 75);
    width: 18vw;
    height: fit-content;
    padding: 2vh 2vw;
    border-radius: 5px;
}
.book-detail-text{
    font-size: 1rem;
    max-width: 100%;
    padding: 5px;
}
#book-title{
    font-size: 3rem;
}
#book-author{
    font-size: 2rem;
    color: rgba(245, 255, 255, 0.8);
}
#book-preview-image{
    width: 100%;
    height: auto;
}
#book-container{
    display: flex;
    flex-direction: row;
}
#book-itself{
    background-color: white;
    width: 48vw;
    color: black;
    margin: 2vw;
    margin-top: 0;
    font-size: 1.1rem;
    border-radius: 2px;
    padding: 10px 1vw;
}
#print-info{
    position: absolute;
    top: 2rem;
    right: 0;
    width: 10vw;
    color: rgb(245, 255, 255);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    display: none;
}
#navbar-add-btn:hover, #navbar-add-btn *:hover{
    #print-info{
        display: block;
    }
}
/* Add book ------------------------------------------------------------- Add book */
#add-book-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 4%;
    margin-top: 0;
    margin-bottom: 1%;
    padding: 1%;
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
#input-content{
    border: none;
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
    resize: none;
    outline: none;
    width: 90%;
    height: 50vh;
    margin: 4%;
    margin-top: 0;
    padding: 1%;
    color: rgb(245, 255, 255);
}